<tr>
    <td><%= link_to book.title, book_path(book.id) %><br>
          <small><%= book.subtitle %></small>
    </td>
    <td><%= book.author_name %></td>
    <td width="30%"><%= truncate(book.description, length: 100) %></td>
    <td><%= link_to book.location.name, location_path(book.location) if book.location %></td>
    <td>
      <% if book.borrowed? && book.borrower != current_user%>
        <% t('borrowed') %>
      <% elsif book.borrower == current_user %>
        <%= button_to t('return_book'), { action: :check_in, controller: :books, id: book, method: :post }, data: { confirm: t('thanks_return_book') }, class: 'btn btn-default' %>
      <% else %>
        <%= button_to t('check_out'), { action: :check_out, controller: :books, id: book, method: :post }, data: { confirm: t('confirm_checkout') }, class: 'btn btn-primary' %>
      <% end %>
    </td>
</tr>
