<div class="col-md-4 col-md-offset-4 text-center">
  <%= semantic_form_for @book, html: {class: "form-group"} do |f| %>
    <div class="form-group">
      <%= f.inputs :name => t('new_book'), class: "text-center" do %>
      <br>
        <%= f.input :title, placeholder: t('title_required'), label: false, input_html: { class: "form-control" } %>
        <%= f.input :subtitle, placeholder: t('subtitle'), label: false, input_html: { class: "form-control" } %>
        <%= f.input :author_first_name, placeholder: t('author_last_name'), label: false, input_html: { class: "form-control" } %>
        <%= f.input :author_last_name, placeholder: t('author_last_name'), label: false, input_html: { class: "form-control" } %>
        <%= f.input :isbn, placeholder: t("isbn_required"), label: false, input_html: { class: "form-control" } %>
        <%= f.input :description, placeholder: t('description'), label: false, input_html: { class: "form-control" } %>
        <%= f.collection_select :user_id, all_users, :id, :name, { include_blank: true, prompt: t('select_book_owner') }, class: 'btn btn-default dropdown-toggle' %>
        <%= f.collection_select :location_id, locations, :id, :name, { prompt: t('select_location') }, class: 'btn btn-default dropdown-toggle' %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.actions do %>
        <%= f.action :submit, label: t('create_book'), :as => :button, button_html: { class: "btn btn-default" }  %>
        <%= f.action :cancel, label: t('reset'), :as => :link %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
