<div class="row">
  <div class="col-md-12">
    <h1 class="text-center"><%= @location.name %></h1>
    <div class="text-center">
    <%= link_to t('edit_location'), edit_location_path(@location), class: "btn btn-default text-center" if current_user.try(:admin?) %>
    </div>
    <h3 class="text-center"><%= t('users') %></h3>
    <div class="panel panel-default">
      <table class="table table-hover well">
        <thead>
          <tr>
            <th><%= t('user_name')%></th>
            <th><%= t('email') %></th>
            <th class="text-center"><%= t('books_checked_out') %></th>
            <th class="text-center"><%= t('books_contributed') %></th>
          </tr>
        </thead>
        <tbody id="users">
          <%= render partial: "locations/users_list", collection: @users, as: :user %>
        </tbody>
      </table>
      <div class="text-center" id="firstpaginator">
      <%= paginate @users, remote: true %>
      </div>
    </div>
    <br>
    <h3 class="text-center"><%= t('books') %></h3>
    <div class="panel panel-default">
      <table class="table table-hover well">
        <thead>
          <tr>
            <th><%= t('title_and_subtitle') %></th>
            <th><%= t('author') %></th>
            <th class="text-center"><%= t('checked_out_status')%></th>
            <th><%= t('owner') %></th>
            <th><%= t('borrower') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'locations/books_list', collection: @books, as: :book %>
        </tbody>
      </table>
    </div>
  </div>
</div>
